<section class="d-flex justify-content-center pt-5">
    <div class="p-4 w-75 border border-0 rounded-5" style="background-color: #EFEBF5;" >
        <span style="background-color: #EFEBF5;">Home | </span>
        <span style="background-color: #EFEBF5;"><a href="" style="background-color: #EFEBF5;">Join As Teacher</a></span>

        <div class="d-flex align-items-center justify-content-center" style="background-color: #EFEBF5;" >
            <div style="background-color: #EFEBF5;" >
                <h1 class="fw-bolder" style="background-color: #EFEBF5;" >Join Sway3i as a Mentor</h1>
            </div>
            <div class="text-center" style="background-color: #EFEBF5;"  >
                <img style="background-color: #EFEBF5;"  src="https://media.discordapp.net/attachments/1205085195221475398/1214229970260467748/image.png?ex=65f85ac8&is=65e5e5c8&hm=34e51d6bbf1c2a8e7d0d92346f33405c00e2cbbb0e838722d91706b49f675ec5&=&format=webp&quality=lossless" alt="" class="w-75">
            </div>
        </div>
    </div>
</section>


<section>

    <div class="d-flex justify-content-center align-items-center p-5">
        <div class="p-5">
            <img src="https://media.discordapp.net/attachments/1205085195221475398/1214230381109182534/image.png?ex=65f85b2a&is=65e5e62a&hm=423e83b0272e9a82e5a7b2b981343db4cd4e485e15f9f1160266ad35c4bfe51b&=&format=webp&quality=lossless&width=552&height=671" alt="">
        </div>

        <div class="p-5">
            <div>
                <h1 class="fw-bold">Apply As Instructor</h1>
                <p class="w-75 mt-4" style="font-weight: 400;">Teaching is a vital and admirable career. As such, it comes with quite a bit of responsibility, both in practice and in preparation with many skills required to be a teacher. The following steps provide a general breakdown of the requirements for teachers:</p>

                <div>
                    <a class="custom-button" [ngClass]="{'active-custom-button active-custom-button-underline' : isRulesVisible==true}" (click)="showInstructorRequirements()">Instructor Requirements</a>
                    <a class="custom-button" [ngClass]="{'active-custom-button active-custom-button-underline' : isRulesVisible==false}"  (click)="showInstructorRules()">Instructor Rules</a>
                  
                    <div class="mt-4" id="instructor-list">
                      <p class="fw-bold"><span class="orange-circle"></span>{{ rule1 }}</p>
                      <p class="fw-bold"><span class="orange-circle"></span>{{ rule2 }}</p>
                      <p class="fw-bold"><span class="orange-circle"></span>{{ rule3 }}</p>
                      <p class="fw-bold"><span class="orange-circle"></span>{{ rule4 }}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</section>
