/* Basic button styles */
.custom-button {
    font-weight: bolder;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
}

/* Border bottom as a straight line */
.custom-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: background-color 0.3s;
}
.active-custom-button-underline::before{
    background-color: #ff6652!important;
}

/* Change text color and line color on hover */
.custom-button:hover {
    color: #ff6652;
}
.active-custom-button {
    color: #ff6652;
}
.custom-button:hover::before {
    background-color: #ff6652;
}

/* Add a circle before the button text */

.orange-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff6652;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    /* top: 2px; */
  }