
<div >
  <div class="p-5 d-flex flex-wrap justify-content-center">
      
      <div class="pt-5 ms-5">
          <button id="button" class="fw-bold" (click)="filterCourses('LATEST')">All Courses</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('PRIMARY_SCHOOL')">For Primary School</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('MIDDLE_SCHOOL')">For Middle School</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('HIGH_SCHOOL')">For High School</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('BACHELOR_DEGREE')">For Bachelor Degree</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('MASTERS_DEGREE')">For Masters Degree</button>
      </div>
      <div class="pt-5">
          <button id="button" class="fw-bold" (click)="filterCourses('PHD_DEGREE')">For PHD Degree</button>
      </div>

  </div>
</div>


<div id="cards" class="ps-5 pe-5 d-flex flex-wrap justify-content-center">
            
    <div class="card me-5 mt-5 text-center border-0" style="width: 19rem;" *ngFor="let course of (filteredCourses.length > 0 ? filteredCourses : courses)">
        <img src="https://media.discordapp.net/attachments/1016377773373259796/1202172423517253642/amazing_asiatic_landscape_art-wallpaper-1920x1200.jpg?ex=660d16d1&is=65faa1d1&hm=bc1fd5a47afa6e54a3fbf077ecaa042a32b7a057c03a832d1e8bfceb5cc038d4&=&format=webp&width=1074&height=671" class="card-img-top" alt="card img">
        <div class="card-body bg-white rounded-3">
          <h5 class="card-title bg-white">{{ course.courseName }}</h5>
          <p class="card-text bg-white text-truncate">{{ course.courseDetails }}.</p>
          <a href="#" class="" id="btn-purple" [routerLink]="['/about-course', course.id]" >Class Details</a>
        </div>
    </div>

</div>