<section class="d-flex justify-content-center pt-5">
    <div class="p-4 w-75 border border-0 rounded-5" style="background-color: #EFEBF5;" >
        <span style="background-color: #EFEBF5;">Home | </span>
        <span style="background-color: #EFEBF5;"><a href="" style="background-color: #EFEBF5;">Pricing</a></span>

        <div class="d-flex align-items-center justify-content-center" style="background-color: #EFEBF5;" >
            <div style="background-color: #EFEBF5;" >
                <h1 class="fw-bolder" style="background-color: #EFEBF5;" >Our Pre-ready Pricing Packages</h1>
            </div>
            <div class="text-center" style="background-color: #EFEBF5;"  >
                <img style="background-color: #EFEBF5;"  src="https://media.discordapp.net/attachments/1205085195221475398/1214492480112828468/image.png?ex=65f94f43&is=65e6da43&hm=0c14b343d0738365e1299e44558d120e71035940cf52b8c148ab3717834278c5&=&format=webp&quality=lossless" alt="" class="w-75">
            </div>
        </div>
    </div>
</section>

<section class="p-5">
    <div class="p-5 text-center d-flex flex-column">
        <h1 class=" fw-bold">We create a monthly pricing package</h1>
        <h1 class=" fw-bold">for all standard students</h1>
        <div class="d-flex justify-content-center p-3 fw-medium">
            <p class="w-75">Basically we create this package for those who are really interested and get benifited from our courses or books. We want to make a low cost package for them. So that they can purchase any courses with the package they buy from us. Also will get free books from every packages.
            </p>
        </div>
        
    </div>

    <div class="container">
        <div class="row pricing-table">
          <!-- Basic Pack -->
          <div class="col-md-4">
            <div class="pricing-card">
              <h2 class="bg-white">Basic Pack</h2>
              <hr>
              <p class="bg-white fw-bold">1 Month Subscription</p>
              <p class="bg-white"><span class="green-check"></span> Access to the course</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <hr>
              <h3 class="bg-white">200 MAD</h3>
              <button class="" id="btn-purple">Purchase Subscription</button>
            </div>
          </div>
      
          <!-- Standard Pack -->
          <div class="col-md-4">
            <div class="pricing-card">
              <h2 class="bg-white">Standard Pack</h2>
              <hr>

              <p class="bg-white fw-bold">5 Month Subscription</p>
              <p class="bg-white"><span class="green-check"></span> Access to the course</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="red-x"></span> Lorem ipsum dolor, sit amet.</p>
              <hr>
              <h3 class="bg-white">600 MAD</h3>
              <button class="" id="btn-purple">Purchase Subscription</button>
            </div>
          </div>
      
          <!-- Premium Pack -->
          <div class="col-md-4">
            <div class="pricing-card">
              <h2 class="bg-white">Premium Pack</h2>
              <hr>

              <p class="bg-white fw-bold">10 Month Subscription</p>
              <p class="bg-white"><span class="green-check"></span> Access to the course</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <p class="bg-white"><span class="green-check"></span> Lorem ipsum dolor, sit amet.</p>
              <hr>
              <h3 class="bg-white">900 MAD</h3>
              <button class="" id="btn-purple">Purchase Subscription</button>
            </div>
          </div>
        </div>
    </div>

    
</section>