<section class="d-flex justify-content-center pt-5">
    <div class="pt-4 ps-4 pe-4 w-75 border border-0 rounded-5" style="background-color: #EFEBF5;" >
        <span style="background-color: #EFEBF5;">Home | Mentor | </span>
        <span style="background-color: #EFEBF5;"><a href="" style="background-color: #EFEBF5;">{{ course.createdByUser.firstName }} {{ course.createdByUser.lastName}} </a></span>

        <div class="d-flex align-items-center justify-content-center" style="background-color: #EFEBF5;" >
            <div class="text-center" style="background-color: #EFEBF5;"  >
                <img style="background-color: #EFEBF5;"  src="https://media.discordapp.net/attachments/1205085195221475398/1214516570987171840/image.png?ex=65f965b3&is=65e6f0b3&hm=914b9e489e483ddb178abf8e3c6f402e076fc4294421704caad58767e2ec61d6&=&format=webp&quality=lossless&width=1440&height=195" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>

<div>
    <img 
        style="
            position: relative;
            left: 289px;
            top: -112px;
            display: block;
        " 
        src="https://media.discordapp.net/attachments/1205085195221475398/1214518935085514782/image.png?ex=65f967e6&is=65e6f2e6&hm=640046019334f78a1c618f0b4f749616aeaa89debbbb90ab613fb542595e268d&=&format=webp&quality=lossless" 
        alt="">
    
        <div
            style="
            position: relative;
            left: 648px;
            top: -316px;
            width: fit-content;
            "
        >
            <h2 class="fw-bold">{{ course.createdByUser.firstName }} {{ course.createdByUser.lastName}}</h2>
            
            <span class="fw-semibold">{{ course.subject }} For 
                {{ course.educationLevel === 'PRIMARY_SCHOOL' ? 'Primary School' :
                   (course.educationLevel === 'MIDDLE_SCHOOL' ? 'Middle School' :
                   (course.educationLevel === 'HIGH_SCHOOL' ? 'High School' :
                   (course.educationLevel === 'BACHELOR_DEGREE' ? "Bachelor's Degree" :
                   (course.educationLevel === 'MASTERS_DEGREE' ? "Master's Degree" :
                   (course.educationLevel === 'PHD_DEGREE' ? 'PhD Degree' :
                   (course.educationLevel === 'PROFESSIONAL_QUALIFICATION' ? 'Professional Qualification' :
                   course.educationLevel)))))) }}
            </span>
            
        </div>
    
</div>


<section>

    <!-- Mentor Info -->
    <div class="container pt-4" style="position: relative;
    left: 490px;
    top: -267px;
    width: fit-content;">
        <div class="card bg-white rounded-5 border-0" style="width: 30rem;">
          <div class="card-body bg-white">
            <div class="d-flex justify-content-between bg-white p-3 mb-4">
                <span class="bg-white fw-bolder">Total Courses </span>
                <span class="bg-white fw-bolder">2 </span>
            </div>

            <div class="d-flex justify-content-between bg-white p-3 mb-4">
                <span class="bg-white fw-bolder">Experience </span>
                <span class="bg-white fw-bolder">Lorem ipsum </span>
            </div>

            <div class="d-flex justify-content-between bg-white p-3 mb-4">
                <span class="bg-white fw-bolder">Lorem ipsum </span>
                <span class="bg-white fw-bolder">Lorem ipsum </span>
            </div>
            
            <div class="d-flex justify-content-between bg-white p-3 mb-4">
                <span class="bg-white fw-bolder">Lorem ipsum </span>
                <span class="bg-white fw-bolder">Lorem ipsum </span>
            </div>
            
            <div class="d-flex justify-content-between bg-white p-3 mb-4">
                <span class="bg-white fw-bolder">Lorem ipsum </span>
                <span class="bg-white fw-bolder">Lorem ipsum </span>
            </div>

          </div>
        </div>
    </div>

    <div class="w-50 p-5" 
        style="
        position: relative;
        left: 204px;
        top: -565px;">
        <h3 class="fw-bold">About SalahEddine</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
    </div>

    <div class="w-50 p-5" 
        style="
        position: relative;
        left: 204px;
        top: -595px;">
        <h3 class="fw-bold">Certification</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
    </div>

    <!-- Course Title -->
    <div class="p-5" style="
        position: relative;
        top: -685px;">
        <h3 class="text-center fw-bolder">{{ course.courseName }}</h3>
    </div>

    <!-- Before Payment is completed -->
    <section style="height: 47rem;">

        <!-- The Card  -->
        <div class="container pt-4" 
            style="
                width: fit-content;
                position: relative;
                left: 525px;
                top: -661px;
                ">
            <div class="card bg-white rounded-5 border-0" style="width: 30rem;">
              <div class="card-body bg-white">
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Instructor </span>
                    <span class="bg-white fw-bolder">{{ course.createdByUser.firstName }} {{ course.createdByUser.lastName }}</span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Education Level </span>
                    <span class="bg-white fw-bolder">{{ course.educationLevel }} </span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">City </span>
                    <span class="bg-white fw-bolder">{{ course.city }} </span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Max Students </span>
                    <span class="bg-white fw-bolder">{{ course.maxStudents }} </span>
                </div>
                
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Program </span>
                    <span class="bg-white fw-bolder">
                        <div class="dropdown bg-white">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Programs
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let program of course.programs">
                                    <a class="dropdown-item bg-white" href="#">
                                        Date: {{ program.date }} - Time: {{ program.time }}
                                    </a>
                                </li>
                            </ul>
                          </div>
                    </span>
                </div>
                
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Access</span>
                    <span class="bg-white fw-bolder">{{ course.type === 'In_Person' ? 'IN PERSON' : (course.type === 'Online' ? 'ONLINE' : course.type) }}</span>
                </div>
                
                
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Price </span>
                    <span class="bg-white fw-bolder">{{ course.price }} MAD</span>
                </div>
    
              </div>
    
              <div class="">
                <button id="btn-purple" class="container-fluid">Subscribe Now</button>
            </div>
    
            </div>
    
            
        </div>
    
            <div class="w-50 p-5" style="position: relative;
            left: 204px;
            top: -1349px;">
                <h3 class="fw-bold">Course Details</h3>
                <p>{{ course.courseDetails }}</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
            </div>
        
            <div class="w-50 p-5" style="position: relative;
            left: 204px;
            top: -1329px;">
                <h3 class="fw-bold">Who this course is for?</h3>
                <p>{{ course.courseIsFor }}</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
            </div>
    
        
    
    
    </section>

</section>

<!-- After payement is completed -->

<section style="height: 20rem;">

        <!-- The Card  -->
        <div class="container pt-4"
        style="
        width: fit-content;
        position: relative;
        left: 525px;
        top: -337px;
        "
        >
            <div class="card bg-white rounded-5 border-0" style="width: 30rem;">
              <div class="card-body bg-white">
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Instructor </span>
                    <span class="bg-white fw-bolder">{{ course.createdByUser.firstName }} {{ course.createdByUser.lastName }}</span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Education Level </span>
                    <span class="bg-white fw-bolder">{{ course.educationLevel }} </span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">City </span>
                    <span class="bg-white fw-bolder">{{ course.city }} </span>
                </div>

                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Program </span>
                    <span class="bg-white fw-bolder">
                        <div class="dropdown bg-white">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Programs
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let program of course.programs">
                                    <a class="dropdown-item bg-white" href="#">
                                        Date: {{ program.date }} - Time: {{ program.time }}
                                    </a>
                                </li>
                            </ul>
                          </div>
                    </span>
                </div>
    
                <div class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Access</span>
                    <span class="bg-white fw-bolder">{{ course.type === 'In_Person' ? 'IN PERSON' : (course.type === 'Online' ? 'ONLINE' : course.type) }}</span>
                </div>
                

                <div *ngIf="course.type !== 'In_Person'" class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Link</span>
                    <span class="bg-white fw-bolder">{{ course.link }}</span>
                </div>
                
                <div *ngIf="course.type === 'In_Person'" class="d-flex justify-content-between bg-white p-3 mb-4">
                    <span class="bg-white fw-bolder">Address</span>
                    <span class="bg-white fw-bolder">{{ course.address }}</span>
                </div>
    
              </div>
    
              <div class="">
                <button id="btn-gray" class="container-fluid">Subscribe Now</button>
            </div>
    
            </div>
    
            
        </div>
    
            <div class="w-50 p-5" style="position: relative;
            left: 204px;
            top: -1144px;">
                <h3 class="fw-bold">Course Details</h3>
                <p>{{ course.courseDetails }}</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
            </div>
        
            <div class="w-50 p-5" style="position: relative;
            left: 204px;
            top: -1144px;">
                <h3 class="fw-bold">Who this course is for?</h3>
                <p>{{ course.courseIsFor }}</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere laudantium accusantium repellendus! Enim fugiat, temporibus sequi quod consectetur doloribus molestias, atque vero a quasi voluptas veritatis eligendi. Exercitationem ab, omnis magnam, molestiae ipsam natus quaerat recusandae dolorem beatae error rem suscipit officia. Quibusdam placeat at nisi aut, reprehenderit dolorum cumque earum sed autem perspiciatis ullam? Quibusdam quo reiciendis rem temporibus debitis, ad vitae! Consequatur officiis animi eligendi necessitatibus earum eveniet nesciunt sequi? Amet aspernatur id voluptatibus soluta laudantium dolor velit?</p>
            </div>
    
        
    
    
</section>




