<div class="" *ngIf="showForm">

  <form class="border border-4 p-5 rounded-4" (submit)="onSubmit()">
    <div class="mb-3">
      <label for="subject" class="form-label">Subject</label>
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" [(ngModel)]="subject">
    </div>
  
    <div class="mb-3">
      <label for="educationLevel" class="form-label">Education Level</label>
      <select class="form-select" id="educationLevel" name="educationLevel" [(ngModel)]="educationLevel">
        <option selected disabled class="bg-white">Select Education Level</option>
        <option value="PRIMARY_SCHOOL" class="bg-white">Primary School</option>
        <option value="MIDDLE_SCHOOL" class="bg-white">Middle School</option>
        <option value="HIGH_SCHOOL" class="bg-white">High School</option>
        <option value="BACHELOR_DEGREE" class="bg-white">Bachelor Degree</option>
        <option value="MASTERS_DEGREE" class="bg-white">Masters Degree</option>
        <option value="PHD_DEGREE" class="bg-white">PhD Degree</option>
        <option value="PROFESSIONAL_QUALIFICATION" class="bg-white">Professional Qualification</option>
      </select>
    </div>
  
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description" [(ngModel)]="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  

</div>

<div class="d-flex justify-content-end bg-white mt-5">
  <button type="button" class="btn btn-primary mb-3" id="showFormBtn" [disabled]="isDemandAccepted()" (click)="toggleForm()">+ Make a new demand</button>
</div>

<div class="mt-5 border border-2 rounded-3 bg-white p-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Subject</th>
            <th scope="col" class="text-center">Education Level</th>
            <th scope="col" class="text-center">Description</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of teacherDemands" class="text-center">
            <td class="fw-semibold">{{ demand.subject }}</td>
            <td>{{ demand.educationLevel }}</td>
            <td>{{ demand.description }}</td>
            <td class="fw-semibold">{{ demand.status }}</td>
          </tr>
        </tbody>
    </table>
</div>

  
  
  