
<div class="container mt-5 border border-4 rounded-4 p-5"  *ngIf="showForm">
    <form (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Enter Subject" required [(ngModel)]="subject" name="subject">
        </div>
        
        <div class="mb-3">
            <label for="courseDetails" class="form-label">Course Details</label>
            <input type="text" class="form-control" id="courseDetails" placeholder="Enter Course Details" required [(ngModel)]="courseDetails" name="courseDetails">
        </div>
        
        <div class="mb-3">
            <label for="courseIsFor" class="form-label">Course is For</label>
            <input type="text" class="form-control" id="courseIsFor" placeholder="Enter Target Audience" required [(ngModel)]="courseIsFor" name="courseIsFor">
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Enter Price" required [(ngModel)]="price" name="price">
        </div>
        
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter City" required [(ngModel)]="city" name="city">
        </div>
        
        <div class="mb-3">
            <label for="educationLevel" class="form-label">Education Level</label>
            <select class="form-select" id="educationLevel" required [(ngModel)]="educationLevel" name="educationLevel">
                <option selected disabled class="bg-white">Select Education Level</option>
                <option class="bg-white" value="PRIMARY_SCHOOL">Primary School</option>
                <option class="bg-white" value="MIDDLE_SCHOOL">Middle School</option>
                <option class="bg-white" value="HIGH_SCHOOL">High School</option>
                <option class="bg-white" value="BACHELOR_DEGREE">Bachelor's Degree</option>
                <option class="bg-white" value="MASTERS_DEGREE">Master's Degree</option>
                <option class="bg-white" value="PHD_DEGREE">PhD Degree</option>
                <option class="bg-white" value="PROFESSIONAL_QUALIFICATION">Professional Qualification</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="type" class="form-label">Course Type</label>
            <select class="form-select" id="type" required [(ngModel)]="type" name="type">
                <option selected disabled class="bg-white">Select Course Type</option>
                <option class="bg-white" value="In_Person">In Person</option>
                <option class="bg-white" value="Online">Online</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="maxStudents" class="form-label">Maximum Students</label>
            <input type="number" class="form-control" id="maxStudents" placeholder="Enter Maximum Students" required [(ngModel)]="maxStudents" name="maxStudents">
        </div>
        
        <div class="mb-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="programDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Programs
                </button>
                <ul class="dropdown-menu" aria-labelledby="programDropdown">
                    <li *ngFor="let program of allPrograms" class="bg-white">
                        <input class="form-check-input me-2 ms-2" type="checkbox" [value]="program.id" [id]="'program' + program.id" (change)="toggleProgram(program.id)" [checked]="programIds.includes(program.id)" name="programIds">
                        <label class="form-check-label bg-white" [for]="'program' + program.id">{{ program.day }} {{ program.time}}</label>
                    </li>
                </ul>
            </div>
        </div>
        
                
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<div class="d-flex justify-content-end bg-white mt-5">
    <button type="button" class="btn btn-primary mb-3" id="showFormBtn" (click)="toggleForm()">+ Add New Course</button>
</div>


<div class="mt-5 border border-2 rounded-3 bg-white p-5" >
    <table class="table" >
        <thead>
            <tr class="text-center">
                <th scope="col">Subject</th>
                <th scope="col">Course</th>
                <th scope="col">Course is For</th>
                <th scope="col">Price</th>
                <th scope="col">City</th>
                <th scope="col">Education Level</th>
                <th scope="col">Course Type</th>
                <th scope="col">Maximum Students</th>
                <th scope="col">Programs</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let course of allCourses">
                <td>{{ course.subject }}</td>
                <td>{{ course.courseDetails }}</td>
                <td>{{ course.courseIsFor }}</td>
                <td>{{ course.price }} DH</td>
                <td>{{ course.city }}</td>
                <td>{{ course.educationLevel }}</td>
                <td>{{ course.type }}</td>
                <td>{{ course.maxStudents }}</td>
                <td>
                    <div class="dropdown bg-white">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Programs
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let program of course.programs">
                                <a class="dropdown-item bg-white" href="#">
                                    Date: {{ program.date }} - Time: {{ program.time }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning me-2">Update</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


