/* Hero Section */

.title-pill{
    color: var(--orange-color);
    background-color: var(--white-color);
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
}

.title-big{
    font-weight: bold;
}

.hero-description{
    color: var(--text-color);
    font-size: 18px;
}


#home-search-btn{
    background-color: #9C4DF4;
    border-radius: 14px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    height: 52px;
    outline: none;
    border: none;
    width: 143px;
}

#home-search-btn i {
    font-size: 20px;
}

#hr-search-home{
    width: 1px;
    height: 40px;
    border: solid 1px #DADADA;
}

#home-search-input{
    height: 55px;
}

@media (max-width: 1300px) {

    #hero-img{
        display: none;
    }

    #hero-left{
        width: 100%!important;
    }
}

@media (max-width: 560px) {
    #hr-search-bar {
        flex-direction: column;
    }
}

