<section class="d-flex justify-content-center pt-5">
    <div class="p-4 w-75 border border-0 rounded-5" style="background-color: #EFEBF5;" >
        <span style="background-color: #EFEBF5;">Home | </span>
        <span style="background-color: #EFEBF5;"><a href="" style="background-color: #EFEBF5;">Our Mentors</a></span>

        <div class="d-flex align-items-center justify-content-center" style="background-color: #EFEBF5;" >
            <div style="background-color: #EFEBF5;" >
                <h1 class="fw-bolder" style="background-color: #EFEBF5;" >Sway3i has the qualified mentors</h1>
            </div>
            <div class="text-center" style="background-color: #EFEBF5;"  >
                <img style="background-color: #EFEBF5;"  src="https://media.discordapp.net/attachments/1205085195221475398/1214200861576929300/image.png?ex=65f83fac&is=65e5caac&hm=8c5a26270d0c88df317834d439794a0a6266003aa1cdf3a04d1bcd778468d661&=&format=webp&quality=lossless" alt="" class="w-75">
            </div>
        </div>
    </div>
</section>

<section >
    <div class="p-5 d-flex">
        
        <div class="pt-5 ms-5">
            <button id="button" class="fw-bold" href="">All Mentors</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For Primary School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For Middle School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For High School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For College</button>
        </div>

    </div>
</section>

<section>
    <router-outlet></router-outlet>
</section>