<div class="container mt-5 border border-4 rounded-4 p-5" *ngIf="showForm">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="name">
                </div>
                <div class="mb-3">
                    <label for="percentage" class="form-label">Percentage</label>
                    <input type="number" class="form-control" id="percentage" name="percentage" required [(ngModel)]="percentage">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 border border-4 rounded-4 p-5" *ngIf="showUpdateForm">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="onUpdate()">

                <div class="mb-3">
                    <label for="feeId" class="form-label">FeeId</label>
                    <input type="text" class="form-control" id="feeId" name="feeId" required [(ngModel)]="feeId">
                </div>

                <div class="mb-3">
                    <label for="updateName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="updateName" name="updateName" required [(ngModel)]="updatedName">
                </div>

                <div class="mb-3">
                    <label for="updatePercentage" class="form-label">Percentage</label>
                    <input type="number" class="form-control" id="updatePercentage" name="updatePercentage" required [(ngModel)]="updatedPercentage">
                </div>
                <button type="submit" class="btn btn-primary me-2">Update</button>

                <button type="button" class="btn btn-secondary" (click)="closeUpdateForm()">Close Form</button>

            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end bg-white mt-5">
    <button type="button" class="btn btn-primary mb-3" id="showFormBtn" (click)="toggleForm()">+ Add Fee</button>
</div>

<div class="mt-5 border border-2 rounded-3 bg-white p-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Percentage</th>
                <th scope="col" class="text-center">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fee of fees">
                <td class="text-center">{{ fee.name }}</td>
                <td class="text-center fw-semibold">{{ fee.percentage }} %</td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning me-2 fw-semibold" (click)="showUpdateForm = true; updatedName = fee.name; updatedPercentage = fee.percentage; feeId = fee.id ">Update</button>
                    <button type="button" class="btn btn-danger fw-semibold" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
