<section class="d-flex justify-content-center pt-5">
    <div class="p-4 w-75 border border-0 rounded-5" style="background-color: #EFEBF5;" >
        <span style="background-color: #EFEBF5;">Home | </span>
        <span style="background-color: #EFEBF5;"><a href="" style="background-color: #EFEBF5;">Courses</a></span>

        <div class="d-flex align-items-center justify-content-center" style="background-color: #EFEBF5;" >
            <div style="background-color: #EFEBF5;" >
                <h1 class="fw-bolder" style="background-color: #EFEBF5;" >Sway3i Courses For All Standards</h1>
            </div>
            <div class="text-center" style="background-color: #EFEBF5;"  >
                <img style="background-color: #EFEBF5;"  src="https://media.discordapp.net/attachments/1205085195221475398/1214488050567217202/image.png?ex=65f94b23&is=65e6d623&hm=e212311404e0a3ee785709761b33463a411ae4a419939c8203a5c0b56bcbde4d&=&format=webp&quality=lossless" alt="" class="w-75">
            </div>
        </div>
    </div>
</section>

<section >
    <div class="p-5 d-flex">
        
        <div class="pt-5 ms-5">
            <button id="button" class="fw-bold" href="">All Courses</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For Primary School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For Middle School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For High School</button>
        </div>
        <div class="pt-5">
            <button id="button" class="fw-bold">For College</button>
        </div>

    </div>
</section>

<section>
    <router-outlet></router-outlet>
</section>