<!-- Subscribe to our newsletter -->
<section class="p-5">
    <div class="p-5 mt-5 rounded-4" style="background-image: url(https://media.discordapp.net/attachments/1206944300198395935/1212351753299951616/image.png?ex=65f1858e&is=65df108e&hm=ffff06f0f3806a015133c778131c766f70c3f2837db852d90a0ba72a1a17b807&=&format=webp&quality=lossless&width=1440&height=473); background-size: cover; object-fit: cover; ">
        <div  class="text-center" style="background-color: transparent;">
            <h1 style="background-color: transparent; color: white;">Subscribe To Get Updated</h1>
            <h1 style="background-color: transparent; color: white;">About Every New Course</h1>
            <p style="background-color: transparent; color: white;">20k+ students daily learn with Sway3i. Subscribe for new courses.</p>

            <div class="container w-50 " style="background-color: transparent; color: white;">
                <form class="form-inline my-2 my-lg-0">
                  <div class="input-group" >
                    <input type="email" class="form-control mr-sm-2" id="newsletterEmail" placeholder="Enter your email address">
                    <div style="background-color: #0A033C;">
                        <button type="submit" class="my-2 my-sm-0 ms-2" id="btn-purple-secondary">Subscribe</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</section>