
<!-- Hero -->
<section class="d-flex align-items-center justify-content-center ps-5 pe-5 pt-3" id="hero-section">

    <div class="w-50" id="hero-left">
        <p class="title-pill">Never Stop Learning</p>
        <h1 class="title-big">Grow up your skills by using Sway3i</h1>
        <p class="hero-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas nemo quos sunt, aliquid consequuntur enim accusamus esse neque illo reiciendis tenetur perferendis, excepturi, mollitia voluptatem odit. Distinctio eveniet alias cumque.</p>

        <div class="p-1 border bg-white border-0 rounded-3 ">
            
            <div class="input-group d-flex flex-row justify-content-between align-items-center bg-white" id="hr-search-bar">
                <div class="form-group">
                    <select class="form-control p-3 border-0" id="exampleSelect">
                        <option selected disabled hidden>Select an option ⇩</option>
                        <option>Action</option>
                        <option>Another action</option>
                        <option>Something else here</option>
                    </select>
                </div>
                <div id="hr-search-home"></div>
                <input id="home-search-input" type="text" class="form-control border-0 ms-1" placeholder="Class/Course" aria-label="Search" aria-describedby="basic-addon2">

                <button id="home-search-btn" class="py-3 px-4 d-flex flex-row justify-content-around align-items-center ms-1" type="button"><i class="bi bi-search bg-transparent"></i><span class="bg-transparent">Search</span></button>
            </div>
        </div>
    </div>

    <div id="hero-img">
        <img src="https://media.discordapp.net/attachments/1205085195221475398/1220670822356877352/image.png?ex=660fc94b&is=65fd544b&hm=ca18bc499aacb2b4c6fd9d33d761d62f853e13763a8c8e50ab7712e232948434&=&format=webp&quality=lossless&width=677&height=671" alt="">

    </div>

</section>

<!-- High quality classes  -->
<section class="pt-5 d-flex align-items-center justify-content-center flex-column">
    <div class="w-50 text-center">
        <h1 class="fw-bolder">High quality classes, either in person or remotely</h1>
    </div>
    <div class="w-75 mt-4 text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut error sit iusto cum in blanditiis? Atque deleniti, aliquid ipsum ex omnis iure quo illum vel animi eum delectus amet, voluptatum quaerat nostrum saepe repellat. Facilis omnis facere reiciendis officiis voluptatibus?</p>
    </div>
    
    <div class="mt-4">
        <button id="home-search-btn" routerLink="courses-list">Visit Courses</button>
    </div>

    <div id="stars">
        <img src="https://media.discordapp.net/attachments/1016377773373259796/1201887050236952636/stqrs.png?ex=660c0d0a&is=65f9980a&hm=021582c92fddf53e05abdfb815d3ac7d83db378010c2a945eacee6242cfb48f4&=&format=webp&quality=lossless" alt="stars">
    </div>

    <div class="border p-4 bg-white rounded-5" id="teacher">
        <img src="https://media.discordapp.net/attachments/1016377773373259796/1201877045651705867/image.png?ex=660c03b9&is=65f98eb9&hm=f7a854a4548bcfe7cb17e7b5c035040afb96ffae6379b014d7c91633824dcedd&=&format=webp&quality=lossless&width=1234&height=671" alt="teacher teaching students online">
    </div>
    
    <div class="mt-4 d-flex flex-column flex-lg-row ">
        <div class="bg-white p-3 rounded-3 me-3">
            <img class="bg-white" src="https://media.discordapp.net/attachments/1016377773373259796/1202162143676604466/speakericon.png?ex=660d0d3e&is=65fa983e&hm=b371d18b2d0fa4a56d17df95c6241d4b8d92492889c9eb00f2928cb2579019d7&=&format=webp&quality=lossless" width="50" alt="Offline classes">
            <span class="bg-white fw-bolder ms-3">Offline Classes</span>
        </div>
        
        <div class="bg-white p-3 rounded-3 ms-3">
            <img class="bg-white" src="https://media.discordapp.net/attachments/1016377773373259796/1202162143454298142/playicon.png?ex=660d0d3e&is=65fa983e&hm=35a8b53eda0b631ae8ec52dc55093e546e456db1986fc6506dcf497db6d9f5bf&=&format=webp&quality=lossless" width="50" alt="Online classes">
            <span class="bg-white fw-bolder ms-3">Online Classes</span>
        </div>
    </div>
    
</section>

<!-- Qualified lessons for students -->
<section class="pt-5">

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="fw-bolder">Qualified lessons for students</h1>
        </div>

        <div class="text-center w-50">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, itaque natus laboriosam ad animi sunt hic sapiente ut quam ipsam.</p>
        </div>
    </div>

    <!-- ANGULAR Component -->
    <div class="mt-4">

        <div class="d-flex justify-content-center">
            <button (click)="filterCourses('LATEST')" id="button" class="fw-bold">Show latest</button>
            <button (click)="filterCourses('PRIMARY_SCHOOL')" id="button" class="ms-3 fw-bold">Primary School</button>
            <button (click)="filterCourses('MIDDLE_SCHOOL')" id="button" class="ms-3 fw-bold">Middle School</button>
            <button (click)="filterCourses('HIGH_SCHOOL')" id="button" class="ms-3 fw-bold">High School</button>
            <button (click)="filterCourses('MASTERS_DEGREE')" id="button" class="ms-3 fw-bold">Masters Degree</button>
            <button (click)="filterCourses('PHD_DEGREE')" id="button" class="ms-3 fw-bold">Phd Degree</button>
            
        </div>
        
        <div id="cards" class="ps-5 pe-5 d-flex flex-wrap justify-content-center">
            <div class="card me-5 mt-5 text-center border-0" style="width: 19rem;" *ngFor="let course of (filteredCourses.length > 0 ? filteredCourses : latestCourses).slice(0, 5)">
                <img src="https://media.discordapp.net/attachments/1016377773373259796/1202172423517253642/amazing_asiatic_landscape_art-wallpaper-1920x1200.jpg?ex=660d16d1&is=65faa1d1&hm=bc1fd5a47afa6e54a3fbf077ecaa042a32b7a057c03a832d1e8bfceb5cc038d4&=&format=webp&width=1074&height=671" class="card-img-top" alt="card img">
                <div class="card-body bg-white rounded-3">
                    <h5 class="card-title bg-white">{{ course.courseName }}</h5>
                    <p class="card-text bg-white text-truncate">{{ course.courseDetails }}</p>
                    <a href="#" class="" id="btn-purple" [routerLink]="['/about-course', course.id]">Class Details</a>
                </div>
            </div>
        </div>
        

        <div class="d-flex justify-content-center pt-5 pb-4">
            <a href="#" class="" id="btn-purple-secondary" routerLink="courses-list">Visit More Classes</a>
        </div>
    </div>
</section>

<!-- Join courses -->
<section class="pt-5 p-5 ">

    <div class="d-flex justify-content-around align-items-center rounded-4" style="background-color: #EDE9F2;">
        <div class="w-50 p-5" style="background-color: #EDE9F2;">
            <p class="title-pill" style="background-color: #EDE9F2;">College Level</p>
            <h1 class="title-big" style="background-color: #EDE9F2;">Don’t waste time in</h1>
            <h1 class="title-big" style="background-color: #EDE9F2;">COVID-19 pandemic.</h1>
            <h1 class="title-big" style="background-color: #EDE9F2;">Develop your skills.</h1>
            <p class="hero-description" style="background-color: #EDE9F2;">High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.</p>

            <div style="background-color: #EDE9F2;">
                <button id="btn-purple-secondary" routerLink="register">Register now</button>
            </div>
        </div>

        <div  style="background-color: #EDE9F2;">
            <img style="background-color: #EDE9F2;" src="https://media.discordapp.net/attachments/1205085195221475398/1212342859475320892/image.png?ex=660d2cc5&is=65fab7c5&hm=ed749acb343a04d999039a2d2f8c2e99429bed3dd1b46812556b369b01458ae8&=&format=webp&quality=lossless&width=555&height=555" alt="">
        </div>
    </div>
    
</section>

<!-- Become a mentor -->
<section class="p-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="me-4 pe-4">

            <img src="https://media.discordapp.net/attachments/1205085195221475398/1212349413897408512/image.png?ex=660d32e0&is=65fabde0&hm=6b90ff3614882ebe030e70f99c6818e1168c9d4132bac7562cb85407f77da214&=&format=webp&quality=lossless&width=520&height=530" alt="">
        </div>
        <div class="w-50 ms-4 ps-4">
            <h1 class="title-big">Want to share your knowledge?</h1>
            <h1 class="title-big">Join us as a Mentor</h1>
            <div class="hero-description mt-4 w-75">High-definition video is video of higher resolution and quality than standard-definition. While there is no standardized meaning for high-definition, generally any video.</div>
            <div class="mt-4">
                <button id="btn-purple-secondary" routerLink="join-as-teacher">Career Information</button>
            </div>
        </div>
    </div>
</section>
