.bg41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite-300);
  width: 100%;
  height: 100%;
  display: none;
}
.course-playlists {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.bg42 {
  height: 4.375rem;
  width: 23.875rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.image-icon3 {
  height: 3.125rem;
  width: 5rem;
  position: relative;
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.maths-introduction {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  z-index: 1;
}
.community-frame {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-100);
  z-index: 1;
}
.three-musketeers-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.bg43,
.icon-frame1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
}
.icon-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.bg43 {
  height: 4.375rem;
  width: 23.875rem;
  position: relative;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  display: none;
}
.image-icon4 {
  height: 3.125rem;
  width: 5rem;
  border-radius: var(--br-8xs);
  object-fit: cover;
}
.div86,
.image-icon4,
.maths-for {
  position: relative;
  z-index: 1;
}
.maths-for {
  line-height: 1.25rem;
  font-weight: 600;
}
.div86 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.maths-for-standard-3-st-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.eduvi-frame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
  z-index: 1;
  color: var(--color-midnightblue-100);
}
.bg44,
.image-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg44 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
}
.image-icon5 {
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.frame-child {
  position: absolute;
  top: 1rem;
  left: 1.938rem;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 2;
}
.image-parent {
  height: 3.125rem;
  width: 5rem;
  position: relative;
}
.images-frame,
.maths-for1 {
  position: relative;
  z-index: 1;
}
.maths-for1 {
  line-height: 1.25rem;
  font-weight: 600;
}
.images-frame {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-300);
}
.eduvi-frame1,
.star-frame {
  display: flex;
  justify-content: flex-start;
}
.star-frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.188rem 0;
}
.eduvi-frame1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.bg45,
.image-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg45 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
}
.image-icon6 {
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.frame-item {
  position: absolute;
  top: 1rem;
  left: 1.938rem;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 2;
}
.image-group {
  height: 3.125rem;
  width: 5rem;
  position: relative;
}
.div87,
.maths-for2 {
  position: relative;
  z-index: 1;
}
.maths-for2 {
  line-height: 1.25rem;
  font-weight: 600;
}
.div87 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-300);
}
.maths-for-standard-3-st-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.eduvi-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.bg46,
.image-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg46 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
}
.image-icon7 {
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.frame-inner {
  position: absolute;
  top: 1rem;
  left: 1.938rem;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 2;
}
.image-parent1 {
  height: 3.125rem;
  width: 5rem;
  position: relative;
}
.div88,
.maths-for3 {
  position: relative;
  z-index: 1;
}
.maths-for3 {
  line-height: 1.25rem;
  font-weight: 600;
}
.div88 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-300);
  white-space: nowrap;
}
.maths-for-standard-3-st-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.eduvi-frame3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.bg47,
.image-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg47 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
}
.image-icon8 {
  border-radius: var(--br-8xs);
  object-fit: cover;
  z-index: 1;
}
.group-icon {
  position: absolute;
  top: 1rem;
  left: 1.938rem;
  width: 1.125rem;
  height: 1.125rem;
  z-index: 2;
}
.image-parent2 {
  height: 3.125rem;
  width: 5rem;
  position: relative;
}
.div89,
.maths-for4 {
  position: relative;
  z-index: 1;
}
.maths-for4 {
  line-height: 1.25rem;
  font-weight: 600;
}
.div89 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-tomato-300);
}
.maths-for-standard-3-st-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.188rem 0;
}
.eduvi-frame4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.facebook-twitter-linked-in-fra {
  align-self: stretch;
  gap: 1rem 0;
  color: var(--color-midnightblue-200);
}
.button-frame,
.course-playlists-parent,
.facebook-twitter-linked-in-fra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.button-frame {
  align-self: stretch;
  gap: 1rem 0;
  font-size: var(--font-size-lg);
}
.course-playlists-parent {
  position: absolute;
  top: 1.563rem;
  left: 55rem;
  width: 23.875rem;
  gap: 1.25rem 0;
}
.image-icon9 {
  position: absolute;
  top: 4.375rem;
  left: 1.875rem;
  width: 50.5rem;
  height: 31.25rem;
  object-fit: contain;
  z-index: 1;
}
.course-details {
  color: var(--color-blueviolet-100);
}
.home-courses-container {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  z-index: 1;
}
.maths-for5 {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-midnightblue-100);
  z-index: 1;
}
.quick-links-more-frame {
  position: absolute;
  top: 1.688rem;
  left: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 34.188rem 0;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue-300);
}
.header2 {
  width: 80rem;
  height: 40rem;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite-300);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-metropolis);
}
.course-details1 {
  margin: 0;
  height: 1.875rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.lorem-ipsum-dolor1 {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  align-self: stretch;
  height: 11.563rem;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1.875rem;
  color: var(--color-dimgray-100);
  display: inline-block;
}
.subheader-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.938rem 0;
}
.certification,
.lorem-ipsum-dolor2 {
  position: relative;
  display: inline-block;
}
.certification {
  margin: 0;
  height: 1.875rem;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  height: 5.625rem;
  font-size: var(--font-size-base);
  line-height: 1.875rem;
  color: var(--color-dimgray-100);
}
.subheader-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.938rem 0;
}
.who-this-course {
  margin: 0;
  height: 1.875rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.image-frame1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.563rem 0;
  min-width: 34.125rem;
  max-width: 100%;
}
.bg48 {
  width: 25rem;
  height: 27.75rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.learners-link,
.price {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.learners-link {
  font-size: var(--font-size-5xl);
  color: var(--color-tomato-100);
  text-align: right;
  white-space: nowrap;
}
.course-item-frame,
.shopping-bag-icon {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.shopping-bag-icon {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.course-item-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.instructor,
.wade-warren {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.wade-warren {
  text-decoration: underline;
  color: var(--color-midnightblue-100);
  text-align: right;
}
.course-item-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.ratings,
.star-icon {
  position: relative;
  z-index: 1;
}
.ratings {
  font-weight: 600;
}
.star-icon {
  height: 1rem;
  width: 5.75rem;
}
.course-item-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.days,
.durations {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.days {
  color: var(--color-midnightblue-100);
  text-align: right;
}
.course-item-frame3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.div90,
.lessons {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.div90 {
  color: var(--color-midnightblue-100);
  text-align: right;
}
.course-item-frame4,
.lessons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.lessons-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.course-item-frame4 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.div91,
.quizzes {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.div91 {
  color: var(--color-midnightblue-100);
  text-align: right;
}
.course-item-frame5,
.quizzes-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.quizzes-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.course-item-frame5 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.access,
.certificate,
.language {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.blog-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.563rem 0;
}
.english,
.yes {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.text-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.lifetime {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.563rem 0;
  text-align: right;
  color: var(--color-midnightblue-100);
}
.developers-link,
.transactions-link {
  flex-direction: row;
  align-items: flex-start;
}
.transactions-link {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.developers-link {
  align-self: stretch;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.bg-parent,
.developers-link,
.image-frame-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.bg-parent {
  width: 25rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  min-width: 25rem;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.image-frame-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 2.5rem;
}
.bg49,
.lorem-ipsum-dolor3 {
  position: relative;
  max-width: 100%;
}
.lorem-ipsum-dolor3 {
  height: 5.625rem;
  flex: 1;
  line-height: 1.875rem;
  display: inline-block;
  min-width: 34.125rem;
}
.bg49 {
  height: 3.75rem;
  width: 25rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-100);
  display: none;
}
.purchase-course3 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.25rem;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl)
    var(--padding-2xl);
  background-color: var(--color-blueviolet-100);
  align-self: stretch;
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
}
.button18:hover {
  background-color: var(--color-darkorchid-100);
}
.frame-parent9,
.icon-frame2,
.lorem-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.lorem-text {
  width: 25rem;
  flex-direction: column;
  padding: 0.25rem 0 0;
  box-sizing: border-box;
}
.frame-parent9,
.icon-frame2 {
  align-self: stretch;
}
.icon-frame2 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 2.5rem;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.frame-parent9 {
  flex-direction: column;
  gap: 0.938rem 0;
}
.what-youll-learn {
  margin: 0;
  height: 1.875rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.certificate-frame-icon {
  height: 0.625rem;
  width: 0.625rem;
  position: relative;
}
.lorem-ipsum-dolor4 {
  position: relative;
  line-height: 1.875rem;
}
.course-intro-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.icon10 {
  height: 0.625rem;
  width: 0.625rem;
  position: relative;
}
.lorem-ipsum-dolor5 {
  position: relative;
  line-height: 1.875rem;
}
.course-intro-frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.icon11 {
  height: 0.625rem;
  width: 0.625rem;
  position: relative;
}
.lorem-ipsum-dolor6 {
  position: relative;
  line-height: 1.875rem;
}
.course-intro-frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.icon12 {
  height: 0.625rem;
  width: 0.625rem;
  position: relative;
}
.lorem-ipsum-dolor7 {
  position: relative;
  line-height: 1.875rem;
}
.course-intro-frame3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.icon13 {
  height: 0.625rem;
  width: 0.625rem;
  position: relative;
}
.lorem-ipsum-dolor8 {
  position: relative;
  line-height: 1.875rem;
}
.course-intro-frame4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.625rem;
}
.course-details-frame,
.maths-intro-frame,
.similar-courses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.course-details-frame {
  gap: 0.625rem 0;
  font-size: var(--font-size-base);
}
.maths-intro-frame,
.similar-courses {
  gap: 0.938rem 0;
}
.maths-intro-frame {
  width: 80rem;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  gap: 1.563rem 0;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-metropolis);
}
.bg50,
.similar-courses1 {
  position: relative;
  max-width: 100%;
}
.similar-courses1 {
  margin: 0;
  font-size: inherit;
  line-height: 3.438rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.bg50 {
  height: 8.313rem;
  width: 38.75rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  display: none;
  z-index: 0;
}
.bg51 {
  position: absolute;
  top: 2.75rem;
  left: 2.75rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-blueviolet-100);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.shopping-bag-24-outline1 {
  position: absolute;
  height: 54.55%;
  width: 54.55%;
  top: 22.73%;
  right: 22.73%;
  bottom: 22.73%;
  left: 22.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon14 {
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  margin: 0 !important;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 1;
}
.image-icon10 {
  height: 6.438rem;
  width: 10rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 1;
}
.the-three-musketeers {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  z-index: 1;
}
.star-icon1 {
  align-self: stretch;
  height: 1.25rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.link-bar-frame {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.image-parent3,
.star-parent,
.the-three-musketeers-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-parent {
  width: 7rem;
  gap: 0.938rem 0;
  color: var(--color-tomato-100);
}
.image-parent3,
.the-three-musketeers-parent {
  gap: 0.625rem 0;
}
.image-parent3 {
  flex-direction: row;
  align-items: center;
  gap: 0 0.938rem;
  max-width: 100%;
}
.bg52,
.partners-professional-educatio1 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
}
.partners-professional-educatio1 {
  flex: 1;
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  min-width: 25.188rem;
}
.bg52 {
  height: 8.313rem;
  width: 38.75rem;
  display: none;
  z-index: 0;
}
.bg53 {
  position: absolute;
  top: 2.75rem;
  left: 2.75rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-ghostwhite-200);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.shopping-bag-24-outline2 {
  position: absolute;
  height: 54.55%;
  width: 54.55%;
  top: 22.73%;
  right: 22.73%;
  bottom: 22.73%;
  left: 22.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon15 {
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  margin: 0 !important;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 1;
}
.image-icon11 {
  height: 6.438rem;
  width: 10rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 1;
}
.the-three-musketeers1 {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  z-index: 1;
}
.star-icon2 {
  align-self: stretch;
  height: 1.25rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.feedback-aid-frame {
  position: relative;
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.star-group,
.the-three-musketeers-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-group {
  width: 7rem;
  gap: 0.938rem 0;
  color: var(--color-tomato-100);
}
.the-three-musketeers-group {
  gap: 0.625rem 0;
}
.image-parent4 {
  align-items: center;
  gap: 0 0.938rem;
}
.image-parent4,
.learners-home-press,
.social-media-logos-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.social-media-logos-frame {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  align-items: center;
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  min-width: 25.188rem;
}
.learners-home-press {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 2.5rem;
}
.bg54 {
  height: 8.313rem;
  width: 38.75rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.bg55 {
  position: absolute;
  top: 2.75rem;
  left: 2.75rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-ghostwhite-200);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.shopping-bag-24-outline3 {
  position: absolute;
  height: 54.55%;
  width: 54.55%;
  top: 22.73%;
  right: 22.73%;
  bottom: 22.73%;
  left: 22.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon16 {
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  margin: 0 !important;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 1;
}
.image-icon12 {
  height: 6.438rem;
  width: 10rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 1;
}
.the-three-musketeers2 {
  line-height: 1.25rem;
  font-weight: 600;
}
.div93,
.star-icon3,
.the-three-musketeers2 {
  position: relative;
  z-index: 1;
}
.star-icon3 {
  align-self: stretch;
  height: 1.25rem;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.div93 {
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
}
.image-parent5,
.star-container,
.the-three-musketeers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-container {
  width: 7rem;
  gap: 0.938rem 0;
  color: var(--color-tomato-100);
}
.image-parent5,
.the-three-musketeers-container {
  gap: 0.625rem 0;
}
.image-parent5 {
  flex-direction: row;
  align-items: center;
  gap: 0 0.938rem;
  max-width: 100%;
}
.bg56,
.div92 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  max-width: 100%;
}
.div92 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
  min-width: 25.188rem;
}
.bg56 {
  height: 8.313rem;
  width: 38.75rem;
  display: none;
  z-index: 0;
}
.bg57 {
  position: absolute;
  top: 2.75rem;
  left: 2.75rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-ghostwhite-200);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.shopping-bag-24-outline4 {
  position: absolute;
  height: 54.55%;
  width: 54.55%;
  top: 22.73%;
  right: 22.73%;
  bottom: 22.73%;
  left: 22.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon17 {
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  margin: 0 !important;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: 1;
}
.image-icon13 {
  height: 6.438rem;
  width: 10rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  z-index: 1;
}
.the-three-musketeers3 {
  line-height: 1.25rem;
  font-weight: 600;
}
.div95,
.star-icon4,
.the-three-musketeers3 {
  position: relative;
  z-index: 1;
}
.star-icon4 {
  align-self: stretch;
  height: 1.25rem;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.div95 {
  line-height: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
}
.star-parent1,
.the-three-musketeers-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-parent1 {
  width: 7rem;
  gap: 0.938rem 0;
  color: var(--color-tomato-100);
}
.the-three-musketeers-parent1 {
  gap: 0.625rem 0;
}
.div94,
.image-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.image-parent6 {
  gap: 0 0.938rem;
}
.div94 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding: var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  min-width: 25.188rem;
}
.course-item,
.learners-home-press1 {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.learners-home-press1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0 2.5rem;
}
.course-item {
  gap: 1.875rem 0;
  font-size: var(--font-size-5xl);
}
.course-item,
.courses-details,
.three-musketeers-frame1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.three-musketeers-frame1 {
  width: 80rem;
  align-items: flex-start;
  gap: 2.5rem 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-metropolis);
}
.courses-details {
  width: 100%;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 4.438rem 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .bg-parent {
    flex: 1;
  }
  .image-frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .certification,
  .course-details1,
  .what-youll-learn,
  .who-this-course {
    font-size: var(--font-size-5xl);
  }
  .similar-courses1 {
    font-size: var(--font-size-17xl);
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 725px) {
  .bg-parent,
  .image-frame1 {
    min-width: 100%;
  }
  .image-frame-parent {
    gap: 0 2.5rem;
  }
  .lorem-ipsum-dolor3 {
    min-width: 100%;
  }
  .icon-frame2 {
    gap: 0 2.5rem;
  }
  .image-icon10 {
    flex: 1;
  }
  .image-parent3 {
    flex-wrap: wrap;
  }
  .partners-professional-educatio1 {
    min-width: 100%;
  }
  .image-icon11 {
    flex: 1;
  }
  .image-parent4 {
    flex-wrap: wrap;
  }
  .social-media-logos-frame {
    min-width: 100%;
  }
  .learners-home-press {
    gap: 0 2.5rem;
  }
  .image-icon12 {
    flex: 1;
  }
  .image-parent5 {
    flex-wrap: wrap;
  }
  .div92 {
    min-width: 100%;
  }
  .image-icon13 {
    flex: 1;
  }
  .image-parent6 {
    flex-wrap: wrap;
  }
  .div94 {
    min-width: 100%;
  }
  .learners-home-press1 {
    gap: 0 2.5rem;
  }
  .three-musketeers-frame1 {
    gap: 2.5rem 0;
  }
  .courses-details {
    gap: 4.438rem 0;
  }
}
@media screen and (max-width: 450px) {
  .course-playlists {
    font-size: var(--font-size-xl);
  }
  .eduvi-frame,
  .eduvi-frame1,
  .eduvi-frame2,
  .eduvi-frame3,
  .eduvi-frame4,
  .icon-frame1 {
    flex-wrap: wrap;
  }
  .maths-for5 {
    font-size: var(--font-size-xl);
  }
  .header2 {
    height: auto;
    min-height: 640;
  }
  .certification,
  .course-details1,
  .who-this-course {
    font-size: var(--font-size-lg);
  }
  .price {
    font-size: var(--font-size-base);
  }
  .learners-link {
    font-size: var(--font-size-lgi);
  }
  .shopping-bag-icon {
    flex-wrap: wrap;
  }
  .instructor,
  .wade-warren {
    font-size: var(--font-size-base);
  }
  .course-item-frame1 {
    flex-wrap: wrap;
  }
  .ratings {
    font-size: var(--font-size-base);
  }
  .course-item-frame2 {
    flex-wrap: wrap;
  }
  .days,
  .durations {
    font-size: var(--font-size-base);
  }
  .course-item-frame3 {
    flex-wrap: wrap;
  }
  .access,
  .certificate,
  .div90,
  .div91,
  .english,
  .language,
  .lessons,
  .lifetime,
  .quizzes,
  .yes {
    font-size: var(--font-size-base);
  }
  .transactions-link {
    flex-wrap: wrap;
  }
  .bg-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .what-youll-learn {
    font-size: var(--font-size-lg);
  }
  .similar-courses1 {
    font-size: var(--font-size-8xl);
    line-height: 2.063rem;
  }
  .div93,
  .div95,
  .feedback-aid-frame,
  .link-bar-frame,
  .the-three-musketeers,
  .the-three-musketeers1,
  .the-three-musketeers2,
  .the-three-musketeers3 {
    font-size: var(--font-size-lgi);
    line-height: 1rem;
  }
  .courses-details {
    gap: 4.438rem 0;
  }
}
