<section class="d-flex justify-content-center flex-wrap">
    <div class="card border-0 m-4" style="width: 20rem;">
        <img src="https://media.discordapp.net/attachments/1205085195221475398/1214148974416494672/image.png?ex=660a8459&is=65f80f59&hm=4d6f30faafd71b20b263627bb42ba7fc168c5ff8011edd5eb3b56afee4fdcc5b&=&format=webp&quality=lossless" class="card-img-top bg-white" alt="teacher image">
        <div class="card-body bg-white p-0" >
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" >
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-white fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Hamid Test
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-white">
                    <p class="bg-white">Founder & mentor</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>    
</section>

<!-- When you see this component remember to make a card for each navigation one for high school one for middle school etc... and onInit consume an endpoint that gets all the mentors and display them in the cards. -->